:root {
    --trans-time: 1s;
}

.fadein-left {
    --trans-distance: 50vw;
    --start-point: -50vw;
    --start-opacity: 0;
    --end-opacity: 1;
    -webkit-animation: fadeIn var(--trans-time) both;
    -moz-animation: fadeIn var(--trans-time) both;
    -o-animation: fadeIn var(--trans-time) both;
    animation: fadeIn var(--trans-time) both;
}

.fadein-right {
    --trans-distance: -50vw;
    --start-point: 50vw;
    --start-opacity: 0;
    --end-opacity: 1;
    -webkit-animation: fadeIn var(--trans-time) both;
    -moz-animation: fadeIn var(--trans-time) both;
    -o-animation: fadeIn var(--trans-time) both;
    animation: fadeIn var(--trans-time) both;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: var(--start-opacity);
        -webkit-transform: translateX(var(--start-point));
    }

    100% {
        opacity: var(--end-opacity);
        -webkit-transform: translateX(calc(var(--start-point)+var(--trans-distance)));
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: var(--start-opacity);
        -moz-transform: translateX(var(--start-point));
    }

    100% {
        opacity: var(--end-opacity);
        -moz-transform: translateX(calc(var(--start-point)+var(--trans-distance)));
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: var(--start-opacity);
        -o-transform: translateX(var(--start-point));
    }

    100% {
        opacity: var(--end-opacity);
        -o-transform: translateX(calc(var(--start-point)+var(--trans-distance)));
    }
}

@keyframes fadeIn {
    0% {
        opacity: var(--start-opacity);
        transform: translateX(var(--start-point));
    }

    100% {
        opacity: var(--end-opacity);
        transform: translateX(calc(var(--start-point)+var(--trans-distance)));
    }
}