:root {
    --main-color: #dad7cd;
    --secondary-background-color: #a3b18a;
    --text-color: #344e41;
    --text-active-color: var(--main-color);
    --element-standard-bcolor: #588157;
    --element-active-bcolor: #3a5a40;
}

body {
    /*setting display values such as type and color
     */
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;

    /*setting text values such as font
     */
    font-family: monospace;
    color: var(--text-color);
}

.outline {
    background-color: var(--secondary-background-color);
    display: flex;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    align-items: center;
}

header {
    position: sticky;
    top: 0px;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background: none;
    border: none;
    font-family: inherit;
    color: inherit;
}

a:hover,
a:focus,
button:hover,
button:focus {
    cursor: pointer;
    color: var(--main-color);
    text-decoration: underline solid 2px;
}

.nav-bar a {
    padding: 0.5em;
}

.view-block {
    width: 90%;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 10px;
}

h1 {
    width: 50%;
}

.lrg-txt {
    font-size: 1.5em;
}

.view-block p {
    border-top: 3px var(--element-standard-bcolor) solid;
    border-left: 3px var(--element-standard-bcolor) solid;
    width: 40%;
    padding: 1em;
}

.section-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid var(--secondary-background-color);
}

p.desc {
    border-left-width: 0px;
    border-right: 3px var(--element-standard-bcolor) solid;
    height: 15vh;
    margin-bottom: 2em;
    font-size: 1.3em;
}

.separator-parallax-img {
    /* image by Ali Kazal on unsplash*/
    background-image: url("https://images.unsplash.com/photo-1588204784390-d3b85c298e29?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80");

    min-height: 40vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-intro:last-child {
    border-bottom: none;
}

footer {
    justify-content: space-evenly;
}